<h2>Add New Activity</h2>
<form method="POST" action="/activities">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="activity_name">Activity Name:</label>
      <input type="text" name="activity_name" id="activity_name"/>
    </div>

    <div class="form-el">
      <label for="category">Category:</label>
      <input type="text" name="category" id="category"/>
    </div>

    <div class="form-el">
      <label for="description">Description:</label>
      <input type="text" name="description" id="description"/>
    </div>

    <div class="form-el">
      <label for="capacity">Capacity:</label>
      <input type="number" name="capacity" id="capacity"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Add New Activity"/>
    </div>

  </div>
</form>
