<h1>Welcome to Serenity Now! A Yoga Studio Booking Management App</h1>

<p>-To access Members, Activities and Bookings, please click on the corresponding links in the left hand navigation bar</p>
<p>-Member details can be viewed, added, edited and deleted from the Members page</p>
<p>-Activities can be viewed, added, edited and deleted from the Activities page. By clicking on the names of the activities you can see how many remaining spaces are available for a particular class and a brief description.</p>
<p>-Bookings can be viewed, added and deleted from the Bookings page</p>
