<!DOCTYPE html>
<html>
<head>
  <title>Serenity Now! Yoga Studio</title>
<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

  <link rel="icon" href="/images/serenity_now_logo.png" />

  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
<main class="flex flex--row">
  <nav>
    <ul>
      <li>
        <a href="/"><img id="logo" src="/images/serenity_now_logo.png" alt="Serenity Now Logo"></a>
</li>
      <li>
        <a href="/members">Members</a>
      </li>
      <li>
        <a href="/activities">Activities</a>
      </li>
      <li>
        <a href="/bookings">Bookings</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
