<h1>Current bookings</h1>

<h2><%= @bookings.member_id%></h2> %>

<p>Activity: <%= @bookings.activity_id %></p>

<a href="/bookings/<%= @bookings.id %>/edit">Edit</a>
<form action="/bookings/<%= @bookings.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
