input[type="submit"] {
  font-family: 'Arvo' serif;
}

select {
 width: 150px;
 padding: 5px 35px 5px 5px;
 margin: 15px 0;
 font-size: 0.8em;
 font-family: 'Arvo', serif;
 border: 1px solid #eee;
 display: block;
}
