

body {
  background-image: url("../images/seinfeld_yoga.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #15A4E2;
  font-family: 'Arvo', serif;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px
}

h1 {
  font-size: 2.0em;
  color: black;
}

a {
  color: #E2861E;
  text-decoration: none;
  padding-bottom: 20px;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
  font-size:  1.5em;
}

nav ul li {
  margin-bottom: 15px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}


.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}



#content {
  border-left: 1px solid black;
  padding-left: 25px;
  background-color: rgba(254, 254, 254, .7);
  padding: 30px;
}

#logo {
width: 200px;
height: auto;

}
